/*

GIULIA SEARCH ENGINE CSS

*/

/*

HOMEPAGE

*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0em;
    padding: 0em;
}

html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: auto;
    background-color: rgb(248, 248, 248);
    font-family: 'Open Sans', sans-serif;
}

.search-box {
    position: fixed;
    text-align: center;
    top: 50%;
    height: 14em;
    width: 100%;
    margin-top: -7em;
}

.search-box input[type=text], .search-box-mini input[type=text] {
    padding: 0.8em 2em 0.8em 1.2em;
    margin: 0em;
    border: thin solid rgb(120, 120, 120);
    border-right: none;
    background-color: rgb(252, 252, 252);
    font-family: 'Open Sans', sans-serif;
    width: 14em;
}

.search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box-mini input[type=text]:hover, .search-box-mini input[type=text]:focus {
    outline: none;
}

.search-box button[type=submit], .search-box-mini button[type=submit] {
    padding: 0.8em;
    margin: 0em;
    border: thin solid rgb(120, 120, 120);
    border-left: none;
    background-color: rgb(252, 252, 252);
    font-family: 'Open Sans', sans-serif;
    width: 4em;
}

.search-box button[type=submit]:focus, .search-box-mini button[type=submit]:focus {
    background-color: rgb(220, 150, 50);
    color: rgb(252, 252, 252);
    outline: none;
}

.logo {
    height: 10em;
    width: 20em;
    margin-bottom: 0.5em;
}

.form-wrap {
    position: relative;
    width: 18em;
}

.times-button {
    position: absolute;
    top: 0.6em;
    right: 3.8em;
}

.result-none {
    display: none;
}

/*

SEARCH PAGE

*/

.header {
    padding: 0.8em;
    border-bottom: thin solid rgba(180, 180, 180, 0.7);
}

.logo-mini {
    float: left;
    margin-right: 2em;
}

.icon-left {
    height: 3em;
    width: 3em;
}

.search-result {
    padding: 0.5em;
}

.showing {
    margin: 0.5em 0;
}

.search-result ul {
    list-style-type: none;
}

.search-result ul li {
    margin: 1em 0;
}

.search-result ul li {
    font-size: 1em;
}

.search-result ul li a {
    color: rgb(150, 100, 20);
    text-decoration: none;
}

.search-result-url {
    font-style: italic;
    font-size: 0.9em;
    color: rgb(80, 80, 80);
}

.paginate {
    margin: 0.5em;
}

.paginate a {
    color: rgb(150, 100, 20);
    text-decoration: none;
    padding: 0.3em 1em;
    border: thin solid rgba(180, 180, 180, 0.7);
    border-radius: 0.4em;
}

.paginate a:hover {
    background-color: rgb(242, 242, 242);
}

.search-result-desc {
    text-align: justify;
    margin-bottom: 0.4em;
}

.footer {
    margin-top: 2em;
    border-top: thin solid rgba(180, 180, 180, 0.7);
}

.footer-copyright {
    padding: 0.5em;
    text-align: center;
}

@media screen and (min-width: 60em) and (orientation: landscape) {
    .logo {
        height: 12em;
        width: 24em;
        margin-bottom: 1em;
    }

    .search-box {
        width: 30em;
        left: 50%;
        margin-left: -15em;
        height: 18em;
        margin-top: -9em;
    }

    .search-result {
        width: 55em;
    }

    .form-wrap {
        width: 30em;
    }

    .search-box input[type=text] {
        width: 25em;
    }

    .search-box button[type=submit] {
        width: 5em;
    }

    .times-button {
        right: 6em;
    }

    .search-box-mini {
        position: relative;
        width: 25em;
        margin-top: 0.3em;
    }

    .body-wrap {
        width: 80em;
        margin: 0em auto;
    }
}